<h3>Employment History</h3>
<div class="row mb-4">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% resume.history.forEach(element => { %>
    <div class="accordion-item mb-4 border">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#<%= element.id %>"
          aria-expanded="false"
          aria-controls="<%= element.id %>"
        >
          <%= element.company %>
        </button>
      </h2>
      <div
        id="<%= element.id %>"
        class="accordion-collapse collapse"
        data-bs-parent="#<%= element.id %>"
      >
        <div class="accordion-body">
          <input
            type="text"
            class="form-control mb-2"
            value="<%= element.company %>"
            name="company"
            hx-put="/api/resume/history/<%= element.id %>"
          />
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
