
    <h3>Personal Details</h2>
    <div class="row mb-4">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="role"
          name="role"
          placeholder="Desired Role"
          aria-label="desired role"
          value="<%= resume.role %>"
          hx-put="resume/role"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Full Name"
          aria-label="Full Name"
          value="<%= resume.name %>"
          hx-put="resume/name"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          aria-label="Email"
          value="<%= resume.email %>"
          hx-put="resume/email"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Phone"
          aria-label="Phone"
          value="<%= resume.phone %>"
          hx-put="resume/phone"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="country"
          name="country"
          placeholder="Country"
          aria-label="Country"
          value="<%= resume.country %>"
          hx-put="resume/country"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Ex. Houston, TX"
          aria-label="location"
          value="<%= resume.location %>"
          hx-put="resume/location"
          hx-trigger="keyup changed delay:750ms"
        />
      </div>
    </div>